<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boarding BFR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body style="background-image: url(/static/987088524-SpaceX-AI-Rocket-Launch.jpg); background-size: cover; color: #ffffff;">
    <script>
        function showContent() {
        var content = document.getElementById("content");
        content.style.display = "block";
        }
    </script>
    <div class="container">
        <div class="jumbotron text-center" style="background: none;">
            <h1 class="heading">Mission to Mars</h1>
            <p><a class="btn btn btn-danger btn-lg" onclick="showContent()" href="/scrape" role="button" aria-pressed="true">LAUNCH!!!</a></p>
        </div>
    </div>
</body>
</html>