<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mars News</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>On {{ scraped_date }}</h4>
                <h1 class="heading">Latest Mars News: </h1>
                <h3>{{ mars.title }}</h3>
                <h4>{{ mars.content }}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading"> Latest Mars Images from NASA: </h1>
                <h4>Click the images for full size view</h4>
                <a href={{ mars.pics }}><img src={{ mars.thumbnail }} alt="NASA Images"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="heading">Latest Mars Tweets: </h1>
                <h3>{{ mars.tweet }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="heading"> Cerb Weather: </h1>
                <h4>Click the images for full size view</h4>
                <h2>{{ mars.cerb_title }}</h2>
                <a href={{ mars.cerb }}><img src={{ mars.cerb }} alt="Cerb Images"></a>
            </div>
        </div>

    </div>
</body>
</html>