h1 {
    color: #69BB01; 
    font-size: 80px; 
    text-align: center;
}

h2 {
    color: deeppink;
}

h3 {
    color: orange;
}

img {
    box-shadow: 10px 10px 5px black;
}

p {
    font-size: 25px;
    color: #050505;
}

ul {
    border-style: solid;
    color: #69BB01;
    font-size: 40px;
}

body {
    background: #7851A9; 
    color: #050505;
}